.HomeCarousel{
    color: antiquewhite;
    :global(.slick-dots){
        bottom: 25px;
    }
    :global(.slick-next){
        right: 50px;
    }
    :global(.slick-prev){
        left: 50px;
        z-index: 10;
    }
    :global(.slick-dots li button:before){
        font-size: 10px;
        color: #fff;
    }
    :global(.slick-prev:before){
        font-size: 30px;
    }
    :global(.slick-next:before){
        font-size: 30px;
    }
}
.homeTop{
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 20px;
}
.aboutSchool{
    font-size: 25px;
    font-weight: 600;
    padding-left: 88px;
}
.visionlabel{
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.visionsublabel{
    font-size: 20px;
    padding: 35px;
    font-weight: 400;
}
.aboutsection{
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
}
.imagesStyle{
    width: 400px;
    height: 270px;
}
.labeltitle{
    width: 50%;
}